header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f8f9fb;
}

.header--img {
    width: 30em;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header--img img {
    width: 100%;
}

.header--text {
    width: 25em;
    padding: 1em 2em 1em 1em;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}


@media (max-width: 60em) {
    header {
        flex-direction: column;
    }

    .header--text {
        width: 100%;
        box-shadow: none;
    }
}