main {
    padding: 0 1em;
    margin-top: 1em;
}

.tabs {
    width: 60%;
}

.tabs--nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 3px;
}

.tabs--nav button {
    border: none;
    color: #6a6f73;
    white-space: nowrap;
    font-weight: bold;
}

.tabs--nav button:hover {
    color: #000;
}

.courses-section {
    /* todo: fix shadow */
    border: 1px solid #d1d7dc;
    background-color: transparent;
    padding: 1.5em 1em;
}

.course-intro p {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 90%;
}

.course-intro button:hover {
    background-color: #eee;
}

/* cards-containers */

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    margin-top: 1.5em;
}

.card {
    background-color: transparent;
}

.card-img>img {
    width: 100%;
}


.card h3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.card h3 a {
    text-decoration: none;
    color: inherit;
}

.card-author {
    color: #333;
    font-size: .6em;
}

.card-review--star {
    color: gold
}