.courses-container {
    /* todo: fix shadow */
    border: 1px solid #d1d7dc;
    background-color: transparent;
    padding: 1.5em 1em;
}

.courses-section {
    width: 100%;
    padding: 0;
    margin: 0;
}

.course-intro p {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 90%;
}

.course-intro button:hover {
    background-color: #eee;
}

/* cards-containers */

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

.card {
    background-color: transparent;
}

.card-img>img {
    width: 100%;
}


.card h3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.card h3 a {
    text-decoration: none;
    color: inherit;
}

.card-author {
    color: #333;
    font-size: .6em;
}

.card-review--star {
    color: gold
}